.dark *, .dark label, .dark input{
  color: white;
}

.dark, .dark .react-calendar, .dark .react-calendar__month-view__days__day--weekend,.dark .react-calendar__month-view__days__day {
  background-color: #191919;
}
.dark .react-calendar__month-view__days__day:disabled,.dark .react-calendar__navigation__label:disabled, .dark .react-calendar__navigation__prev-button:disabled, .dark .react-calendar__navigation__next-button:disabled, .dark input, .dark .MuiInputBase-root, .dark .css-s1hehu-MuiGrid2-root, .dark .css-1uptu8n-MuiGrid2-root, .dark .css-1wnsrli {
  background-color: #444444;
}
 
.dark .react-calendar__navigation__next-button:enabled:hover, .dark .react-calendar__navigation__prev-button:enabled:hover, .dark .react-calendar__tile:enabled:hover {
  background-color: grey;
}

.dark .css-1wnsr1i {
  background-color:  #444444;
}

.dark .MuiAutocomplete-listbox, .dark .css-mvoatl-MuiPaper-root-MuiAlert-root {
  background-color: #222222;
}

